.App{
    margin: 10px 10px;
    background-color: white;
    height: 100%;
    padding: 5px;
}
.Form {
    display: flex;
    flex-direction: column;
    
}
.Values {
    display: inline;
}

.Form label {
    margin: 5px 0px;
}

.Form input[type="text"]{
    display: inline;
    margin: 5px auto;
    padding: 5px;
    justify-self: center;
}

.Form input[type="number"] {
    padding: 5px;
}
.Form input[type="submit"] {
    margin: 10px auto;
    height: 40px;
    width: 50%;
}

.AnsLabel {
    margin: 10px 10px;
    color: red;
}

@media (max-width: 500px){
    .Span input[type="text"], label{
        display: block;
    }
}